In [1]:
# Q1. pandasの2つの主要なデータ構造の名前を書いてください。
# ヒント：Seriesと...

# 解答欄
DataFrame

NameError: name 'DataFrame' is not defined

In [2]:
# Q2. 以下のリストからpandasのSeriesを作成し、インデックスを0から始まる順番に設定してください。
values = [10, 20, 30]

import pandas as pd
# 解答欄

pd_values = pd.Series(values)

print(pd_values)

0    10
1    20
2    30
dtype: int64

In [5]:
# Q3. 以下のDataFrameから、列'b'を削除してください。
import pandas as pd

df = pd.DataFrame({"a": [1, 2], "b": [3, 4]})
print("元のDataFrame")
print(df)

# 解答欄
df = df.drop(columns="b")

print("列bを消したやつ")
print(df)

元のDataFrame
   a  b
0  1  3
1  2  4
列bを消したやつ
   a
0  1
1  2

In [13]:
# Q4. 以下のDataFrameから、値が50以上の行だけを抽出してください。
import pandas as pd

df = pd.DataFrame({"name": ["Ken", "Aya", "Taro"], "score": [45, 70, 60]})

# 解答欄
print(df)

print(df.iloc[:][df.score >= 50])

   name  score
0   Ken     45
1   Aya     70
2  Taro     60
   name  score
1   Aya     70
2  Taro     60

In [14]:
# Q5. 以下のSeriesに10を加算してください（アラインメントに注意）。
import pandas as pd

s = pd.Series([1, 2, 3], index=["a", "b", "c"])

# 解答欄
print(s+10)

a    11
b    12
c    13
dtype: int64

In [17]:
# Q6. 以下のDataFrameの各要素を2倍する処理をapplymapを使って実装してください。
import pandas as pd
from pandas import Series,DataFrame

df = pd.DataFrame({"x": [1, 2], "y": [3, 4]})

# 解答欄
def double(x):
    return x*2

df.applymap(double)

C:\Users\kawor\AppData\Local\Temp\ipykernel_13044\3719325440.py:11: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.applymap(double)

   x  y
0  2  6
1  4  8