In [1]:
a = 5
a

5

In [2]:
import numpy as np
a = np.array([1,2,3])
print(a * 10)

[10 20 30]

In [3]:
data = [np.random.standard_normal() for i in range(7)]
print(data)

[1.6547816931574528, -0.8488013089337078, 0.1824582950747663, 0.7299129195009348, -1.7328556477910162, 2.000688146480336, -0.3327146495485904]

In [ ]:
data

[1.6547816931574528,
 -0.8488013089337078,
 0.1824582950747663,
 0.7299129195009348,
 -1.7328556477910162,
 2.000688146480336,
 -0.3327146495485904]

In [5]:
b = [1,2,3]
b?

Type:        list
String form: [1, 2, 3]
Length:      3
Docstring:
Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [1]:
print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [8]:
def add_numbers(a,b):
    return a+b
add_numbers?

Signature: add_numbers(a, b)
Docstring: <no docstring>
File:      c:\users\kawor\appdata\local\temp\ipykernel_5320\265547672.py
Type:      function

In [9]:
np.*load*?

np.__loader__
np.load
np.loadtxt

In [11]:
a = "foo"
a.split()

['foo']

In [14]:
a.split("f")

['', 'oo']

In [15]:
getattr(a,"split")("f")

['', 'oo']

In [3]:
def isiterbale(obj):
    try:
        iter(obj)
        return True
    except TypeError:
        return False

isiterbale("a string")

True

In [9]:
class a:
    def test():
        print("これはaのテストのやつ")
class b:
    def test():
        print("これはbのテストのやつ")
def c(obj):
    obj.test()

c(a)
c(b)

これはaのテストのやつ
これはbのテストのやつ

In [14]:
#二項演算子の使い方
print(1+2)
print(3-4)
print(5*6)
print(7/8)
print(10//9)
print(11**12)
print(13 & 14)
print(15 | 16)
print(17 ^ 18)
print(19 == 20)
print(21 != 22)

3
-1
30
0.875
1
3138428376721
12
31
3
False
True

In [20]:
a_list = ["foo", 2, [4,5]]
a_list[2] = (3,4)
print(a_list)
a_tuple = (3,5,(4,5))

#a_tuple[1] = "four"

['foo', 2, (3, 4)]

In [15]:
a = "this is a string"
b = a.replace("string", "longer string")
print(b)

print(a)

a = 5.6
s = str(a)
print(s)

s = "Python"
list(s)
s[:3]

this is a longer string
this is a string
5.6

'Pyt'

In [ ]:
template = "{0:.2f} {1:s} are worth US${2:d}"
template.format(88.46, "Argentine Pesos", 1)

'88.47 Argentine Pesos are worth US$1'

In [21]:
amount = 10
rate = 88.46
currency = "Pesos"
result = f"{amount}{currency} is worth US${amount / rate}"

f"{amount}{currency} is worth US${amount / rate:.2f}"

'10Pesos is worth US$0.11'

In [26]:
from datetime import datetime, date, time
dt = datetime(2025,6,25,22,55,0)
dt.month
dt

datetime.datetime(2025, 6, 25, 22, 55)

In [29]:
if 4> 3> 2>1:
    print("True")

True

In [31]:
a = range(100)
a
list(a)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]