In [13]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
#これらが基本の参照

obj = pd.Series([4,7,-5,3])

print(obj)

obj2 = pd.Series([4,7,-5,3], index=["a","b","c","d"])

print(obj2)

print(obj2["b"])
obj2["b"] = 100
print(obj2)
print(obj2[["a","b","d"]])

print(obj2[obj2 > 3])
print(obj2 * 2)

print(obj2)

0    4
1    7
2   -5
3    3
dtype: int64
a    4
b    7
c   -5
d    3
dtype: int64
7
a      4
b    100
c     -5
d      3
dtype: int64
a      4
b    100
d      3
dtype: int64
a      4
b    100
dtype: int64
a      8
b    200
c    -10
d      6
dtype: int64
a      4
b    100
c     -5
d      3
dtype: int64

In [15]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

test_dict1 = {"Ohio":35000,"Texas":71000,"Oregon":16000, "Utah":5000}

obj3 = pd.Series(test_dict1)

print(obj3)

states = ["California", "Ohio", "Oregon", "Texas"]
obj4 = pd.Series(test_dict1, index=states)

print(obj4)

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [20]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

data = {"state":["Ohio","Ohio","Ohio","Nevada","Nevada","Nevada"],"year":[2000,2001,2002,2001,2002,2003],"pop":[1.5,1.7,3.6,2.4,2.9,3.2]}
frame = pd.DataFrame(data)
frame
#print(frame)

frame2 = pd.DataFrame(data, columns=["year", "state","pop","debt"])
frame2

   year   state  pop debt
0  2000    Ohio  1.5  NaN
1  2001    Ohio  1.7  NaN
2  2002    Ohio  3.6  NaN
3  2001  Nevada  2.4  NaN
4  2002  Nevada  2.9  NaN
5  2003  Nevada  3.2  NaN

In [26]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

frame = pd.DataFrame(np.random.standard_normal((4,3)),columns=list("bde"),index=["Utah","Ohio","Texas","Oregon"])

print(frame)

def f1(x):
    return x.max()-x.min()

print(frame.apply(f1))

print(frame.apply(f1, axis="columns"))

               b         d         e
Utah   -0.135535 -0.441866  1.456439
Ohio    0.625085  1.121071  1.622924
Texas  -0.097341 -0.023491 -0.062342
Oregon  0.121318 -1.770142  0.553895
b    0.760619
d    2.891212
e    1.685266
dtype: float64
Utah      1.898305
Ohio      0.997839
Texas     0.073850
Oregon    2.324037
dtype: float64