In [1]:
import pandas as pd

df1 = pd.read_csv("exl.csv")

print(df1)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [2]:
df2 = pd.read_csv("ex2.csv",header=None)

df3 = pd.read_csv("ex2.csv", names=["a","b","c","d","mmessage"])

print(df2)
print(df3)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo
   a   b   c   d mmessage
0  1   2   3   4    hello
1  5   6   7   8    world
2  9  10  11  12      foo

In [ ]:
df4 = pd.read_csv("ex2.csv",names=["a","b","c","d","message"], index_col="message")

print(df4)

    a   b   c message
d
4   1   2   3   hello
8   5   6   7   world
12  9  10  11     foo

In [6]:
pd.options.display.max_rows=10

result = pd.read_csv("ex6.csv")

print(result)

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [8]:
result2 = pd.read_csv("ex6.csv", nrows=5)

print(result2)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [12]:
chunker = pd.read_csv("ex6.csv",chunksize=1000)

tot = pd.Series([], dtype="int64")
for piece in chunker:
    tot = tot.add(piece["key"].value_counts(), fill_value=0)

tot = tot.sort_values(ascending=False)

print(tot[:10])

key
E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

In [16]:
tables = pd.read_html("fdic_failed_bank_list.html")

print(tables)
failues = tables[0]
#print(failues.head())

[                             Bank Name             City  ST   CERT  \
0                          Allied Bank         Mulberry  AR     91
1         The Woodbury Banking Company         Woodbury  GA  11297
2               First CornerStone Bank  King of Prussia  PA  35312
3                   Trust Company Bank          Memphis  TN   9956
4           North Milwaukee State Bank        Milwaukee  WI  20364
..                                 ...              ...  ..    ...
542                 Superior Bank, FSB         Hinsdale  IL  32646
543                Malta National Bank            Malta  OH   6629
544    First Alliance Bank & Trust Co.       Manchester  NH  34264
545  National State Bank of Metropolis       Metropolis  IL   3815
546                   Bank of Honolulu         Honolulu  HI  21029

                   Acquiring Institution        Closing Date  \
0                           Today's Bank  September 23, 2016
1                            United Bank     August 19, 2016
2    First-Citizens Bank & Trust Company         May 6, 2016
3             The Bank of Fayette County      April 29, 2016
4    First-Citizens Bank & Trust Company      March 11, 2016
..                                   ...                 ...
542                Superior Federal, FSB       July 27, 2001
543                    North Valley Bank         May 3, 2001
544  Southern New Hampshire Bank & Trust    February 2, 2001
545              Banterra Bank of Marion   December 14, 2000
546                   Bank of the Orient    October 13, 2000

          Updated Date
0    November 17, 2016
1    November 17, 2016
2    September 6, 2016
3    September 6, 2016
4        June 16, 2016
..                 ...
542    August 19, 2014
543  November 18, 2002
544  February 18, 2003
545     March 17, 2005
546     March 17, 2005

[547 rows x 7 columns]]

In [19]:
xlsx = pd.ExcelFile("ex1.xlsx")

print(xlsx.sheet_names)
print(xlsx.parse(sheet_name=xlsx.sheet_names,index_col=0))

['Sheet1']
{'Sheet1':    a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo}

In [21]:
import requests

url = "https://api.github.com/repos/pandas-dev/pandas/issues"

resp = requests.get(url)

resp.raise_for_status()

print(resp)

data = resp.json()
print(data[0]["title"])

<Response [200]>
BUG: Series.replace with CoW when made from an Index

In [ ]:
import requests
import pandas as pd

url = ("https://api.open-meteo.com/v1/forecast?"
    "latitude=35.6895&longitude=139.6917"
    "&hourly=temperature_2m"
    "&timezone=Asia%2FTokyo")

response = requests.get(url)

data = response.json()

df = pd.DataFrame(data)

print(df.head())

IndentationError: unexpected indent (818078012.py, line 5)